{extend name="layout:admin" /}
{block name="title"}数据回收{/block}
{block name="main"}

<div class="header py-5">
        <div class="container"><h1>数据回收</h1></div>
</div>
<div class="container table-box">
    <div class="my-3 clearfix">
        <div class="float-left">
            <p>共回收申请 {$num} 份</p>
        </div>
        <div class="float-right">
            <a class="btn btn-primary btn-sm" href="#" role="button">导出Excel</a>
            <button type="button" class="btn btn-primary btn-sm" onclick="table_fulls();">全屏显示</button>
        </div>
    </div>
	<div class="my-3">
        <div class="overflow-auto">
            <table class="table table-hover table-content">
                <thead>
                    <tr>
                    <th>纳新编号</th>
                    <th>提交时间</th>
                    {volist name="question" id="qvo"}
                        <th>{$qvo.msg}</th>
                    {/volist}
                    </tr>
                </thead>
                <tbody>
                {volist name="data" id="dvo"}
                    <tr>
                        <th scope="row">{$dvo.id}</th>
                        <td>{$dvo.time}</td>
                        {volist name="dvo.data" id="din"}
                            <td>{$din}</td>
                        {/volist}
                    </tr>
                {/volist}
                </tbody>
            </table>
        </div>
    </div>
</div>
<style>
    table{
        font-size: 12px;
    }
    .overflow-auto{
        overflow: auto;
    }
    .table-content{
        width: 1500px;
        overflow: auto;
    }
    .table-box{
        transition: .3s all;
    }
    .table-box.full-screen{
        width: 100%;
        min-width: 100%;
    }
    .disable{
        display: none;
    }
</style>
<script>
    function table_fulls(){
        $(".table-box").toggleClass("full-screen");
        $("nav").toggleClass("disable");
        $(".header").toggleClass("disable");
    }
</script>
{/block}