{extend name="layout:admin" /}
{block name="title"}纳新表单{/block}
{block name="main"}

<div class="header py-5">
        <div class="container"><h1>纳新表单</h1></div>
</div>
<div class="container" id="question-box">
	<div class="row my-3">
		<div class="col-8" class="list-group" id="sortable">
            <draggable v-model="formlist" :options="{animation: 300,handle:'.handle'}" @update="datadragEnd">
            <div class="card question-item mb-3" v-for="(qes,key) in formlist">
                <div class="card-header handle" v-on:click="togglShow">
                    <span class="badge badge-secondary">{{key+1}}</span>
                    <span class="badge badge-secondary">{{qes.type}}</span>
                    {{qes.msg}}
                    <div class="float-right">
                        <small class="text-muted">点击显示，拖动排序</small>
                    </div>
                </div>
                <div class="card-content" v-show="qes.ishow">
                    <div class="card-body">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">问题</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="问题" v-model="qes.msg">
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">回答类型</label>
                            <div class="col-sm-10">
                            <select class="form-control" v-model="qes.type">
                                <option value="input">问答</option>
                                <option value="number">数字</option>
                                <option value="phone">手机号</option>
                                <option value="email">email地址</option>
                                <option value="radio">单选</option>
                                <option value="checkbox">多选</option>
                                <option value="select">下拉框</option>
                            </select>
                            </div>
                        </div>

                        <div class="form-group row" v-if="qes.type == 'select'||qes.type == 'checkbox'||qes.type == 'radio'">
                            <label class="col-sm-2 col-form-label">选项</label>
                            <div class="col-sm-10">
                                
                                <div class="mb-3">
                                    <template v-for="(item,index) in qes.answer">
                                        <input type="text" class="form-control form-control-sm mb-2" placeholder="选项"  v-model="qes.answer[index]">
                                    </template>
                                </div>
                                <div class="mb-2">
                                    <button type="button" class="btn btn-primary btn-sm" v-on:click="addAnswer">增加选项</button>
                                    <button type="button" class="btn btn-primary btn-sm" v-on:click="removeAnswer">删除选项</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">选项</label>
                            <div class="col-sm-10 form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" v-model="qes.required">
                                    必填                                
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer clearfix"><div class="float-right">
                        <button type="button" class="btn btn-primary btn-sm" v-on:click="removeItem">删除问题</button>
                    </div></div>
                </div>
            </div>
            </draggable>
		</div>
		<div class="col-4">
            <button type="submit" class="btn btn-primary" v-on:click="addItem">增加一个问题</button>
            <button type="submit" class="btn btn-primary" v-on:click="getJson">保存表单</button>
            <button type="submit" class="btn btn-primary">预览表单</button>
            <p>{{json}}</p>
        </div>
	</div>
</div>
<style>
    .card-header{
        moz-user-select: -moz-none;
        -moz-user-select: none;
        -o-user-select:none;
        -khtml-user-select:none;
        -webkit-user-select:none;
        -ms-user-select:none;
        user-select:none;
    }
    .handle{
        cursor: move;
        cursor: -webkit-grabbing;
    }
</style>
{/block}

{block name="script"}
{load href="
__ROOT__/sources/js/vue@2.4.2.js,
__ROOT__/sources/js/sortablejs@1.6.1.js,
__ROOT__/sources/js/vuedraggable.js,
" /}
<script>
var club_form_api = "http://localhost/project/newgame/public/index.php/api/clubForm/club/1";
var app = new Vue({
    el: '#question-box',
    mounted: function (){
        this.fetchData();
    }, 
    data: {
        club: '',
        formlist: [],
        json: ''
    },
    watch: {
        formlist: function(){
            this.json = JSON.stringify(this.formlist);
        }
    },
    methods: {
        //获取layoutapi
        fetchData: function(){
            var that = this;
            $.ajax({
                url: club_form_api,
                type: 'GET',
                dataType: 'json'
            })
            .done(function(data) {
                for(var item in data.formlist){
                    var t = {};
                    t['type'] = data['formlist'][item]['type'];
                    t['msg'] = data['formlist'][item]['msg'];
                    if(data['formlist'][item]['answer'] != '')
                        t['answer'] = JSON.parse(data['formlist'][item]['answer']);
                    else t['answer'] = [];
                    t['required'] = data['formlist'][item]['required'];
                    t['ishow'] = false;
                    that.formlist.push(t);
                }
                that['club'] = data.club;
                console.log("[Layout Init Complete]\n"+club_form_api);
            })
            .fail(function(data,status,error) {
                var info = "[Layout Init Failed]\n"+error;
                alert(info);
                console.log(info);
            });
        },
        togglShow: function (event) {
            var index = $(event.target).parents('.question-item').index();
            var ishow;
            app.formlist[index].ishow ? ishow = false : ishow = true;
            this.$set(app.formlist[index], 'ishow', ishow);
            this.$forceUpdate();
        },
        getdata: function(evt){
            console.log(evt.draggedContext.element.id);
        },
        datadragEnd:function(evt){
            console.log('拖动前的索引：'+evt.oldIndex);
            console.log('拖动后的索引：'+evt.newIndex);
        },
        addItem: function(){
            var que =  new Object();
            que.type = 'input';
            que.msg = '';
            que.answer = [];
            que.required = 1;
            que.ishow = true;
            app.formlist.push(que);
        },
        removeItem: function(event){
            var index = $(event.target).parents('.question-item').index();
            app.formlist.splice(index,1);
        },
        addAnswer: function(event){
            var index = $(event.target).parents('.question-item').index();
            app.formlist[index].answer.push('');
        },
        removeAnswer: function(event){
            var index = $(event.target).parents('.question-item').index();
            app.formlist[index].answer.pop();
        },
        getJson: function(){
            console.log(this.formlist);
            json = JSON.stringify(this.formlist);
            console.log(json);
        }

    }
})
</script>
{/block}