<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>{block name="title"}{/block} - NewGame</title>
    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"> -->
    {load href="__ROOT__/sources/css/bootstrap.min.css" /}
  </head>
  <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                <a class="navbar-brand" href="{:url('admin/index')}">NewGame</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="{:url('admin/index')}">欢迎</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{:url('admin/club')}">社团设置</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{:url('admin/question')}">纳新设置</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{:url('admin/data')}">数据回收</a>
                    </li>
                  </ul>
                  <ul class="navbar-nav my-2 my-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            微光网络工作室
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">账号设置</a>
                            <a class="dropdown-item" href="#">退出</a>
                        </div>
                        </li>
                    </ul>
                </div>
                </div>
              </nav>

    {block name="main"}
    <div class="container"><div class="row"><h1>null</h1></div></div>
    {/block}

    <style>
    body{
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,"微软雅黑" ,"Helvetica Neue", Arial, sans-serif;
    }
    .header{
        background: #f8f9fa;
    }
    </style>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {load href="__ROOT__/sources/js/jquery-3.2.1.slim.min.js,__ROOT__/sources/js/popper.min.js,__ROOT__/sources/js/bootstrap.min.js" /}
<!--     <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script> -->
  </body>
</html>