{extend name="layout:common" /}
{block name="title"}{$club.name}{/block}
{block name="nav"}
{/block}
{block name="main"}
<div class="main">
    <div class="header">
        <div class="container">
            <h4>提交纳新</h4>
            <h1>{$club.name}</h1>
        </div>
    </div>
    <div class="container">
    <form method="post" action="{:url('gate/get_apply')}">
        <input name="club" type="hidden" class="form-control" value="{$club.id}">
        {volist name="qes" id="vo" empty="暂无问题喵喵喵"}

            {switch name="vo.type"}

                {case value="input"}
                    <div class="form-group question-item clearfix">
                        <label><span class="badge badge-secondary">{$key+1}</span>{$vo.msg}</label>
                        <input name="qes[{$vo.id}]" type="text" class="form-control">
                        <p><small class="form-text text-muted float-right">必填</small></p>
                    </div>
                {/case}

                {case value="number"}
                    <div class="form-group question-item clearfix">
                        <label><span class="badge badge-secondary">{$key+1}</span>{$vo.msg}</label>
                        <input name="qes[{$vo.id}]" type="number" class="form-control">
                        <p><small class="form-text text-muted float-right">必填,数字</small></p>
                    </div>
                {/case}

                {case value="phone"}
                    <div class="form-group question-item clearfix">
                        <label><span class="badge badge-secondary">{$key+1}</span>{$vo.msg}</label>
                        <input name="qes[{$vo.id}]" type="phone" class="form-control">
                        <p><small class="form-text text-muted float-right">必填,手机号</small></p>
                    </div>
                {/case}

                {case value="email"}
                    <div class="form-group question-item clearfix">
                        <label><span class="badge badge-secondary">{$key+1}</span>{$vo.msg}</label>
                        <input name="qes[{$vo.id}]" type="email" class="form-control">
                        <p><small class="form-text text-muted float-right">必填,邮箱地址</small></p>
                    </div>
                {/case}

                {case value="radio"}
                    <div class="form-check question-item clearfix">
                    <legend class="col-form-legend"><span class="badge badge-secondary">{$key+1}</span>{$vo.msg}</legend>
                    {volist name="vo.answer|json_decode" id="ao"}
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="qes[{$vo.id}]" value="{$ao}"> {$ao}
                            </label>
                        </div>
                    {/volist}
                    <p><small class="form-text text-muted float-right">必填</small></p>
                    </div>
                {/case}

                {case value="checkbox"}
                    <div class="form-check question-item clearfix">
                    <legend class="col-form-legend"><span class="badge badge-secondary">{$key+1}</span>{$vo.msg}</legend>
                    {volist name="vo.answer|json_decode" id="ao"}
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="qes[{$vo.id}][{$key}]" value="{$ao}"> {$ao}
                            </label>
                        </div>
                    {/volist}
                    <p><small class="form-text text-muted float-right">必填</small></p>
                    </div>
                {/case}

                {case value="select"}
                    <div class="form-check question-item clearfix">
                    <label><span class="badge badge-secondary">{$key+1}</span>{$vo.msg}</label>
                    <select class="form-control" name="qes[{$vo.id}]">
                        {volist name="vo.answer|json_decode" id="ao"}
                            <option value="{$ao}">{$ao}</option>
                        {/volist}
                      </select>
                    <p><small class="form-text text-muted float-right">必填</small></p>
                    </div>
                {/case}

                

                {case value="text"}
                    <div class="form-check question-item clearfix">
                        <p class="col-form-legend"><span class="badge badge-secondary">{$key+1}</span>{$vo.msg}</p>
                    </div>
                {/case}

                {default /}<div class="form-group question-item clearfix">Invailed Question Type!</div>
            {/switch}

        {/volist}
        <button type="submit" class="btn btn-primary btn-lg btn-block">提交</button>
    </form>
    </div>
    <div class="copyright text-center">
        <p>NewGame！一个简单的表单工具</p>
    </div>
</div>
<style>
    .header{
        background: #eee;
        padding: 40px 0;
        margin-bottom: 20px;
    }
    .badge{
        margin-right: 10px;
    }
    .question-item{
        margin: 30px 0 ;
    }
    .container{
        width: 500px;
    }
    .question-item .text-muted{
        color: #e1e1e1!important;
    }
    .question-item:hover .text-muted{
        color: #bbb!important;
    }
    .copyright{
        color: #999;
        font-size: 12px;
        margin: 20px 0;
    }
</style>
{/block}